@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&display=swap');

html {
    width: 100vw;
    overflow-x: clip;
}

:root {
    /* --text-color: black;
    --bg-color: white;
    --shadow-color: lightray; */
    --text-color: white;
    --bg-color: rgba(0, 0, 0, 0.7);
    --shadow-color: rgb(45, 45, 45);
}

body {
    /* https://static.vecteezy.com/system/resources/previews/002/787/948/non_2x/cute-corgi-dog-sitting-cartoon-seamless-pattern-illustration-vector.jpg */
    background-attachment: fixed;
    background-size: 20%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: "Philosopher", sans-serif; */

    font-size: 18px;
    margin-left: -50px;
    margin-top: -15px;
    /* width: 105%; */
    overflow-x: visible;

    color: var(--text-color);
}

h1, h2, h3 {
    font-family: "Rubik Mono One", monospace;
}

.dirk {
    background: url(https://img.freepik.com/premium-vector/seamless-pattern-black-cat-different-poses-decorative-boho-style-elements-cosmic-sky-vector-repeat-mystical-illustration-grey_185796-166.jpg?w=360);
}

.douglas {
    /* background: url(https://i.redd.it/ozy7dage7lfx.jpg); */
    background: url(https://wallpapers.com/images/featured/space-sjryfre8k8f6i3ge.jpg);

    background-attachment: fixed;
    background-size: cover;
}

.guide {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp10508295.jpg&f=1&nofb=1&ipt=ae5f8c6e5663610755b94e2cfb7686083dffa6ca3d4d2951f46da2f857bfbb09&ipo=images);
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: 120%;
}

.doctor {
    background: url(https://wallpapercave.com/wp/VwacRf2.jpg);

    background-attachment: fixed;
    background-size: 100%;
    /* background-size: cover; */
    background-position-y: 100%;
}

.contact {
    background: url(https://images.wallpapersden.com/image/download/anime-sunset-hd-ai-2023-art_bmVsZm2UmZqaraWkpJRmbmpnrWZmZ2U.jpg);

    background-size: cover;
    background-attachment: fixed;
}

.doctor section {
    background-color: black;
    color: white;
    box-shadow: none;
}

main {
    padding: 40px;

    width: 1600px;
    margin: auto;
}

.dirk main {
    background-color: rgb(50, 50, 50);
    box-shadow: rgba(255, 166, 0, 0.171) 0px 0px 400px 0px;
}

.dogulas main {
    background-color: transparent;
    box-shadow: transparent;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
}

.menu, .vert-menu{
    padding: 10px;

    border-radius: 20px;
}

#menu-red {
    background-color: black;
    box-shadow: black 0px 0px 200px 0px;
}

#menu-blue {
    background-color: black;
    box-shadow: blue 0px 0px 200px 0px;
}

.menu ul, .vert-menu ul {
    display: flex;

    flex-direction: row;
    justify-content: space-around;

    font-size: 20px;
    color: white;
}

.menu ul li, .vert-menu ul li {
    list-style: none;
    font-size: 25px;
}

.menu ul li a, .vert-menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover, .vert-menu ul li a:hover {
    color: blue;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

section {
    padding: 20px;
    border-radius: 20px;

    background-color: var(--bg-color);
    box-shadow: var(--shadow-color) 0px 0px 200px 0px, var(--text-color) 0px 0px 20px 0px;


    margin-bottom: 40px;

    border: white 1px solid;
}

#title-orange {
    padding: 20px;
    border-radius: 20px;

    background-color: black;
    color: white;

    box-shadow: orange 0px 0px 200px 0px;

    margin-bottom: 40px;
}

#title-blue {
    padding: 20px;
    border-radius: 20px;

    background-color: black;
    color: white;

    box-shadow: blue 0px 0px 200px 0px;

    margin-bottom: 40px;
}

#guide-img {
    background: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.collider.com%2Fwp-content%2Fuploads%2F2019%2F07%2Fhitchhikers-guide.jpg&f=1&nofb=1&ipt=581162a160b467138d340d08e2efbef217e3b1a06675e0fd30fb89e735460288&ipo=images);
    
    background-size: cover;
    background-attachment: fixed;
}

#douglas-img {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.epicquotes.com%2Fwp-content%2Fuploads%2F2022%2F03%2FDouglas-Adams-Quotes--1200x675.png&f=1&nofb=1&ipt=9ed2219a78af6d8d3d890675acfc30f96e2bff87684fc04cd37ea3bea332f19a&ipo=images);
    
    background-size: cover;
    background-attachment: fixed;
}

#doctor-img {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp3207943.jpg&f=1&nofb=1&ipt=5724a7ce77148fb965908651ac930b3b5bb8c942dc1e0d26f5117fe8e2d8f2d8&ipo=images);

    background-size: cover;
    background-attachment: fixed;
}

#dirk-img {
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/a8798a47892965.58881d69937ca.jpg);

    background-size: cover;
    background-attachment: fixed;
}

.banner-img {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 45vw;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: -20px;
}

footer {
    background-color: black;
    color: white;

    padding: 20px;
    padding-left: 100px;

    font-size: 20px;

    border-radius: 40px;
}

@media (max-width: 1700px) {
    main {
        width: 90%;
        margin: 0px;
    }
    
    #menu ul {
        flex-direction: column;
    }
}

.book-container {
    display: flex;
}

.book {
    width: 100%;
    /* box-shadow: white 0px 0px 20px 0px; */
    background: linear-gradient(darkblue 0%, rgba(255, 255, 255, 0) 80%);
    /* padding: 20px; */
    margin: 20px;
    border-radius: 40px;
    /* border: 1px solid white; */
    transition: border .4s, box-shadow .4s, margin .5s;
}

.book:hover {
    width: 100%;
    /* box-shadow: white 0px 0px 20px 0px; */
    background: linear-gradient(darkred 0%, rgba(255, 255, 255, 0) 80%);
    box-shadow: red 0px 0px 200px 0px;
    /* padding: 20px; */
    margin: 20px;
    border-radius: 40px;
    border: 1px solid white;
    margin-top: 0px;
    transition: border .4s, box-shadow .4s, margin .5s;
}

.book img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0px 0px 40px 40px;
    margin-bottom: -5px;
    transition: border-radius .5s, transform 0.2s, border-radius .2s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: white 0px 0px 50px 0px;
    /* transition: transform 0.6s; */
    transition: box-shadow 0.4s, transform 0.2s;
}

.book:hover img {
    transform: scale(1.05);
    transform: rotate(5deg);
    box-shadow: white 0px 0px 50px 0px;
    border-radius: 40px 40px 40px 40px;
    /* transition: transform 0.6s; */
    transition: box-shadow 0.4s, transform 0.2s, border-radius .2s;
}

.book h3{
    text-align: center;
    height: 30px;
    padding: 20px;
}

.book h3 a {
    text-decoration: none;
    color: white;
    transition: letter-spacing .3s, color .3s;
}

.book:hover h3 a {
    text-decoration: none;
    color: wheat;
    letter-spacing: 3px;
    transition: letter-spacing .3s, color .3s;
}

html {
    overflow-y: scroll;
    scrollbar-color: white black;
    scrollbar-width: 10px;
    scrollbar-highlight-color: aqua;
}

img {
    transform: scale(1);
    box-shadow: transparent 0px 0px 0px 0px;
    /* transition: transform 0.6s; */
    transition: box-shadow 0.4s, transform 0.2s;
}

.img-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 40px;
    grid-template-rows: auto;
}

.img-container img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

iframe {
    width: 90%;
}

form {
    display: grid;

    padding: 60px;
    font-size: 20px;

    /* grid-template-columns: 50% 50%; */
    grid-gap: 40px;
    /* grid-template-rows: ; */
}

form input, form select {
    padding: 40px;
    border-radius: 20px;

    background-color: var(--bg-color);
    color: var(--text-color);

    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    box-shadow: var(--text-color) 0px 0px 20px 0px;
}

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}
.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: blue;
}
.front {
    font-family: "Rubik Mono One", monospace;
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 40px;
    color: white;
    background: darkcyan;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    border: 1px black solid;
    box-shadow: cyan 0px 0px 5px 2px;
    border-color: white;
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

body {
    overflow-x: clip;
    display: grid;
    grid-template-columns: 20% 75%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 5%;
    grid-template-areas: 'menu menu' 'banner banner'  '. .'  'footer footer';
}

#main-body {
    width: 100%;
}

#main-body main{
    width: 95%;
    margin: 0px;
}

.menu {
    height: 80%;
    width: 100%;
}

.menu-header {
    grid-area: menu;
}

.vert-menu {
    position: sticky;
    top: 15%;
    height: 23%;
}

.vert-menu ul {
    display: flex;
    flex-direction: column;
}

.vert-menu ul li {
    margin: 40px;
}

.banner-img {
    grid-area: banner;
}

footer {
    grid-area: footer;
    z-index: 21;
}

.banner-text {
    /* position: fixed; */
    font-size: 80px;
    color: white;
    text-shadow: black 0px 0px 40px;
    width: 500px;
    margin-top: 15vw;
    margin-left: 35vw;
    margin-right: auto;
}

.contact {
    /* https://static.vecteezy.com/system/resources/previews/002/787/948/non_2x/cute-corgi-dog-sitting-cartoon-seamless-pattern-illustration-vector.jpg */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: "Philosopher", sans-serif; */
    background: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F3%2F0%2Fb%2F1113364-beautiful-cool-space-background-wallpapers-1920x1080-for-computer.jpg&f=1&nofb=1&ipt=c0585f80a8f45499b46406b7649df8573cee83be754f7e903ce8e736c37b4b2b&ipo=images);
    background-size: cover;
    background-attachment: fixed;
    /* background-size: cover; */
    display: block;
    font-size: 22px;
    color: var(--text-color);
}

.contact main {
    padding: 40px;
    width: 80vw;
    margin: auto;
}